/* UNIVERSAL STYLING */

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin-top: 20%;

    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

/* CREDIT PAGE */

#creditPage {
    background-color: black;
    margin-top: 10%;
}

#creditPageText {
    color: white;
}

#creditPageText a {
    color: #7408C2;
    text-decoration: none;
    font-size: 400px;
    line-height: 375px;
}

#creditPageText a:hover {
    color: white;
}

/* PAGE ONE */

#pageOne {
    background-color: black;
}

#pageOneText {
    color: white;
}

#pageOneText a {
    text-decoration: none;
    color: rgb(166, 183, 250);
    font-family: 'Rubik Bubbles';
    font-size: 100px;
}

/* PAGE TWO */

#pageTwo {
    background-color: black;
}

#pageTwoText {
    color: white;
}

#pageTwoText a {
    text-decoration: none;
    color: white;
    font-family: 'Rubik Glitch';
}

/* PAGE THREE */

#pageThree {
    background-image: radial-gradient(#f3e18a, #2E4CA6);
    background-repeat: no-repeat;
    background-position: top;
    height: 100dvh;
}

#pageThree a {
    text-decoration: none;
}

#pageThreeText {
    color: black;
}

/* PAGE FOUR */

#pageFour {
    background-color: #f3e18a;
}

#pageFourText {
    color: #7408C2;
}

#pageFourText a {
    color: #7408C2;
    text-decoration: none;
}

/* PAGE FIVE */

.pageFive {
    background-color: white;

}

#pageFiveText {
    color: #7408C2;
}

#purple {
    color: #7408C2;
    text-decoration: none;
    font-size: 100px;
    line-height: 90px;
}

#purple:hover {
    color: white;
    background-color: #7408C2;
}

#purple:hover body {
    color: white;
    background-color: #7408C2;
}

/* PAGE SIX */

#pageSix {
    background-color: #7408C2;
}

.pageSixText {
    color: white;
    text-align: center;
}

#pageSixLink {
    color: white;
    text-decoration: none;
    font-family: 'Rubik Glitch';
    font-size: 50px;

}

/* PAGE SEVEN */

#pageSeven {
    background-color: black;
    font-size: 25px;
}

#pageSevenText {
    color: white;
}

#destruction {
    font-family: 'Rubik Burned';
    color: white;
}

#pageSevenSubtext {
    color: #898989;
    text-decoration: none;
    padding-top: 15%;
}

/* PAGE EIGHT */

#pageEight {
    background-color: black;
    margin-top: 10%;
    position:relative;
}

#pageEightText {
    color: white;
}

#pageEightLink {
    color: white;
    text-decoration: none;
    font-size: 200px;
    position: absolute;

}

#zeroOne {
    background-color: white;
    position: absolute;
    top: 260px;
    left: 780px;
    font-size: 50px;
}

#zeroTwo {
    background-color: white;
    position: absolute;
    top: 260px;
    left: 1040px;
    font-size: 50px;
}

/* PAGE NINE */

#pageNine {
    background-color: black;
}

#pageNineText {
    color: white;
}

#pageNineLink {
    color: white;
    text-decoration: none;
}

#oops {
    color: white;
}

/* PAGE TEN */

#pageTen {
    background-color: black;
}

#pageTenText {
    color: white;
}

#pageTenLink {
    color: white;
    text-decoration: none;
}