/********* UNIVERSAL STYLING *********/

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin-top: 20%;

    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

/********* CREDIT PAGE *********/

#creditPage {
    background-color: black;
    margin-top: 10%;
}

#creditPageText {
    color: white;
}

#creditPageText a {
    color: #7408C2;
    text-decoration: none;
    font-size: 400px;
    line-height: 375px;
    transition-duration: 1s;
}

#creditPageText a:hover {
    color: white;
}

/********* PAGE ONE *********/

#pageOne {
    background-color: black;
    margin-top: 15%;
}

#pageOneText {
    color: white;
}

#pageOneTextTwo {
    color:white;
    position: absolute;
    top: 60%;
}

#pageOneLink {
    text-decoration: none;
    color: rgb(166, 183, 250);
    font-family: 'Rubik Bubbles', Arial, Helvetica, sans-serif;
    font-size: 100px;

    animation-name: dreaminGrow;
    animation-direction: normal;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-play-state: running;

}

@keyframes dreaminGrow {
    from {
        font-size: 110px;
    }
    to {
        font-size: 105px;
    }
}

/********* PAGE TWO *********/

#pageTwo {
    background-color: black;
}

#pageTwoText {
    color: white;
}

#goes {
    text-decoration: none;
    color: white;
    font-size: 50px;
    font-family: 'Rubik Glitch', Arial, Helvetica, sans-serif;
    transition-duration: 2s;
}

#goes:hover {
    transform: translate(-1000px, 0px);
}

#astray {
    text-decoration: none;
    color: white;
    font-size: 50px;
    font-family: 'Rubik Glitch', Arial, Helvetica, sans-serif;
    transition-duration: 2s;
}

#astray:hover {
    transform: translate(1000px, 0px);
}

/********* PAGE THREE *********/

#pageThree {
    background-color: #2E4CA6;
    background-repeat: no-repeat;
    background-position: top;
    height: 100dvh;
    margin-top: 22%;

    animation-name: morning;
    animation-direction: normal;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state:running;
}

@keyframes morning {
    from {
        background-color: #2E4CA6;
    }
    to {
        background-image: radial-gradient(#f3e18a, #2E4CA6);
    }
}

#pageThreeText {
    color: black;
}

#pageThreeText a {
    color: black;
    text-decoration: none;
    transition-duration: 2s;
}

#pageThreeText a:hover {
    color:rgb(249, 242, 217);
}

/********* PAGE FOUR *********/

#pageFour {
    background-color:#f3e18a;
    background-repeat: no-repeat;
    background-position: top;
    height: 100dvh;
    margin-top: 22%;

    animation-name: day;
    animation-direction: normal;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes day {
    from {
        background-image: radial-gradient(#f3e18a, #2E4CA6);
    }
    to {
        background-image:#f3e18a;
    }
}

#pageFourText {
    color: #7408C2;
}

#pageFourText a {
    color: #7408C2;
    text-decoration: none;
    transition-duration: 2s;
}

#pageFourText a:hover {
    color: black;
}

/********* PAGE FIVE *********/

.pageFive {
    background-color: white;
}

#pageFiveText {
    color: #7408C2;
}

#purple {
    color: #7408C2;
    text-decoration: none;
    font-size: 100px;
    line-height: 90px;
}

.pageFive:hover {
    color: white;
    background-color: #7408C2;
}

.pageFive:hover #pageFiveText {
    color: white;
}

.pageFive:hover #purple {
    color: white;
}

/********* PAGE SIX *********/

#pageSix {
    background-color: #7408C2;
}

#pageSix a {
    text-decoration: none;
}

.pageSixText {
    color: white;
    text-align: center;
    text-decoration: none;
}

#pageSixLink {
    color: white;
    text-decoration: none;
    font-family: 'Rubik Glitch', Arial, Helvetica, sans-serif;
    font-size: 50px;
    transition-duration: 2s;
}

#pageSixLink:hover {
    transform: translate(1000px, 0px);
}

/********* PAGE SEVEN *********/

#pageSeven {
    background-color: black;
    font-size: 25px;
}

#pageSevenText {
    color: white;
}

#destruction {
    font-family: 'Rubik Burned', Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    font-size: 70px;
    transition-duration: 3s;
}

#destruction:hover {
    transform: rotate(360deg) scale(2);
}

#pageSevenSubtext {
    color: #787878;
    text-decoration: none;
    padding-top: 15%;
}

#pageSevenSubtext:hover {
    color:#7408C2;
    text-shadow: 0 0 30px #ac5de3;
}
/*text-shadow credit: https://www.w3schools.com/howto/howto_css_glowing_text.asp*/

/********* PAGE EIGHT *********/

#pageEight {
    background-color: black;
    margin-top: 10%;
    position:relative;
}

#pageEightText {
    color: white;
}

#pageEightLink {
    color: white;
    text-decoration: none;
    font-size: 200px;
    position: absolute;
}

#zeroOne {
    background-color: white;
    position: absolute;
    top: 260px;
    left: 780px;
    font-size: 50px;

    animation-name: zeroOne;
    animation-direction: normal;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

@keyframes zeroOne {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#zeroTwo {
    background-color: white;
    position: absolute;
    top: 260px;
    left: 1040px;
    font-size: 50px;

    animation-name: zeroTwo;
    animation-direction: normal;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

@keyframes zeroTwo {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/********* PAGE NINE *********/

#pageNine {
    background-color: black;
}

#pageNineText {
    color: white;
    font-size: 50px;
}

#pageNineLink {
    color: black;
    text-decoration: none;
    font-size: 75px;
    padding-top: 2%;
    transition-duration: 3s;
}

.oops {
    color: rgb(255, 2, 2);
    font-size: 55px;
    text-decoration: none;
    transition-duration: 2s;
}

.oops:hover {
    transform: rotate(360deg) scale(1.5);
}

#pageNine:hover #pageNineLink {
    color:black;
    text-shadow: 0 0 20px rgb(255, 0, 0);
}
/* text-shadow credit: https://www.w3schools.com/howto/howto_css_glowing_text.asp */

/********* PAGE TEN *********/

#pageTen {
    background-color: black;
    margin-top: 6%;
}

#pageTenText {
    color: white;
    font-size: 50px;
}

#party {
    display: inline;
    transition-duration: 2s;
}

#party:hover {
    transform: rotate(400deg) scale(1.5);
}

#pageTenLink {
    color:#7408C2;
    text-decoration: none;
    font-size: 400px;
    line-height: 350px;

    animation-name: flash;
    animation-direction: normal;
    animation-duration: 700ms;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear;
}

@keyframes flash {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#pageTenLink:hover {
    animation-play-state: paused;
}